html {
    scroll-behavior: smooth;
}


/* navbar */
.navbar {
    font-family: 'Poppins',
        sans-serif;
    font-weight: 700;
    font-style: italic;
}

/* navbar end */

.navbar span {
    color: orange;
}

img {
    color: beige;
}

/* offcanvas */
.offcanvas-header h5 {
    font-family: 'Poppins',
        sans-serif;
    font-weight: 700;
    font-style: italic;
}

.offcanvas.offcanvas-end {
    width: 15rem;
    background-color: orange;
}

.offcanvas-body li a {
    width: 100px;
    font-family: 'Poppins',
        sans-serif;
    text-decoration: none;
    font-style: normal;
    color: black;
    font-size: 15px;
    margin-top: 5px;
}

.offcanvas-body li {
    margin-top: 30px;
    text-decoration: none;
}

/* offcanvas end */

/* content */
.carousel-inner {
    padding-top: 3.5rem;
}

.carousel-caption {
    font-family: 'Poppins',
        sans-serif;
}

.carousel-caption h5 {
    font-size: 10px;
}

.carousel-caption p {
    font-size: 8px;
}

/* content end */

/* list book */
.container-fluid.listbook h1 {
    text-align: center;
    font-family: 'Poppins',
        sans-serif;
    font-weight: 700;
    padding-top: 7rem;
}

.card .card-body {
    margin-top: 1rem;
    font-family: 'Poppins',
        sans-serif;
    text-align: center;
}

.card .card-body h5 {
    font-size: 11px;
    margin-bottom: 1px;
}

.card .card-body p {
    font-size: 9px;
    margin-bottom: 2px;
}

.card .card-body a {
    font-size: 9px;
}

.card {
    margin-top: 2rem;
}

.card-body {
    padding: 0;
}

.card-text a {
    text-align: end;
}

/* list book end */

/* social media */
.social-media {
    padding-top: 10rem;
    text-align: center;
    font-family: 'Poppins',
        sans-serif;
    font-weight: 700;
}

.row.socialmedia {
    justify-content: center;
    margin-top: 5rem;
    font-family: 'Poppins',
        sans-serif;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-style: normal;
}

.col-12 p a {
    text-decoration: none;
    color: black;

}

/* social media end */
@media (max-width: 576px) {
    .card {
        width: 50%;
    }
}

@media (max-width: 576px) {
    .card-img-overlay {
        width: 50%;
    }
}

/* tulisan */
.container-fluid.tulisan img {
    max-width: 42px;
    max-height: 42px;
}

.container-fluid.tulisan .col h6 {
    margin-bottom: 0px;
    color: white;
}

.container-fluid .col p {
    color: gray;
}

/* carousel */
.tulisan {
    background-color: black;
}

.tulisan button {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.container-fluid.tulisan {
    background-color: black;
    min-height: 500px;
}

.carousel.slide {
    min-width: 10px;
    min-height: 100px;
    background-color: black;
}

.carousel-item p {
    padding-left: 4px;
    font-family: 'Poppins',
        sans-serif;
}

.carousel-item p small {
    color: gray;
    font-family: 'Poppins',
        sans-serif;
}

/* pagination */
.page-item .page-link {
    color: black;
}

.pagination {
    background-color: black;
    margin-bottom: 0px;
}

/* tulisan end */